@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

:root {
	--bg-dots: #e0e1e4;
	--card-dots: #4f81ee;
}

body {
	overflow-x: hidden;
}

@keyframes marquee1 {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.marquee1-animation {
	animation: marquee1 linear 90s infinite;
}

@keyframes marquee2 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}

.marquee2-animation {
	animation: marquee2 linear 90s infinite;
}
