@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

:root {
	--bg-dots: #e0e1e4;
	--primary: #4f81ee;

	--max-width: 1500px;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

@keyframes marquee1 {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.marquee1-animation {
	animation: marquee1 linear 90s infinite;
}

@keyframes marquee2 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}

.marquee2-animation {
	animation: marquee2 linear 90s infinite;
}

.show-card {
	view-timeline-name: --show-card;
	view-timeline-axis: block;

	animation-timeline: --show-card;
	animation-name: show-card;
	animation-range: entry 1% cover 40%;
	animation-fill-mode: both;
}

@keyframes show-card {
	from {
		opacity: 0;
		transform: translateY(15%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

.show-container {
	view-timeline-name: --show-container;
	view-timeline-axis: block;

	animation-timeline: --show-container;
	animation-name: show-container;
	animation-range: entry 18% cover 30%;
	animation-fill-mode: both;
}

.show-card-horizontal {
	view-timeline-name: --show-card-horizontal;
	view-timeline-axis: x;

	animation-timeline: --show-card-horizontal;
	animation-name: show-card-horizontal;
	animation-range: entry 1% cover 40%;
	animation-fill-mode: both;
}

@keyframes show-card-horizontal {
	from {
		opacity: 0;
		transform: translateY(5%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes show-container {
	from {
		opacity: 0;
		transform: translateY(20%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

::-webkit-scrollbar {
	width: 3px;
	height: 5px;
	overflow: visible;
	background: transparent;
}

::-webkit-scrollbar-track {
	margin: 0;
	border-radius: 0;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
}

section:hover::-webkit-scrollbar-thumb {
	width: 3px;
	border-radius: 10px;
	margin-right: 2px;
	background: red;
}
